* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    margin-top: 30px;
    margin-bottom: 30px;
}

.block{
    height: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/banner.jpg);
    border-radius: 15px;
    background-position: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 400px;
    padding-top: 400px;
    padding-bottom: 60px;
}


.p1{
    color: white;
}

.p2{
    color: grey;
}
h2{
    color: white;
}

h3{
    font-size: xx-large;
}

.block2{
    height: 50px;
    margin-top: 30px;
}

.float1{
    float: left;
    width: 20%;
    margin-top: 20px;
}

.float2{
    float: left;
    width: calc(60% - 60px);
    margin: 0 30px;
    margin-top: 20px;
}

.logo{
    height: 80px;
}

ul{
    list-style-type: none;
    color: gainsboro;
}

li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.img1{
    height: 200px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/img-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.img2{
    height: 200px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/img-2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.img3{
    height: 200px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/img-3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.text{
    font-size: medium;
    font-weight: 300;
    margin-top: 20px;
    color: gray;
}

.footer{
    height: 50px;
    margin-top: 30px;
    text-align: center;
}