* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    margin-top: 30px;
    margin-bottom: 30px;
}

.block{
    height: 600px;
    background-image: url(../img/banner.jpg);
    border-radius: 15px;
    background-position: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2{
    color: white;
}

.block2{
    height: 50px;
    background-color: cornflowerblue;
    margin-top: 30px;
}

.main{
    background-color: darkblue;
}

.float1{
    float: left;
    height: 500px;
    width: 20%;
    background-color: cornflowerblue;
    margin-top: 20px;
}

.float2{
    float: left;
    height: 500px;
    width: calc(60% - 60px);
    background-color: cornflowerblue;
    margin: 0 30px;
    margin-top: 20px;
    

}

.float3{
    float: left;
    height: 500px;
    width: 20%;
    background-color: cornflowerblue;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer{
    height: 50px;
    background-color: violet;
    margin-top: 10px;
}

.logo{
    height: 80px;
}

ul{
    list-style-type: none;
    color: gainsboro;
}

li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}